<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/staff']">Staff</a></li>
      <li class="active">Add / Edit Staff</li>
    </ol>
    <h3 class="clearfix">Add / Edit Staff</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form  (ngSubmit)="f.form.valid && addStaff()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">

                    <input type="text" class="form-control" name="staffName" [(ngModel)]="staffData.name" value=""
                      required #name="ngModel">
                    <label class="fg-label">Name<span class="required-class">*</span></label>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter Name </span>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="staffDesignation" [(ngModel)]="staffData.designation"
                      value="" required #designation="ngModel">
                    <label class="fg-label">Designation<span class="required-class">*</span></label>
                    <span *ngIf="designation.errors && (designation.dirty || designation.touched || f.submitted)" class="form-errors">*Enter Designation </span>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="staffMobile" [(ngModel)]="staffData.mobile" value="" required #mobile="ngModel">
                    <label class="fg-label">Mobile<span class="required-class">*</span></label>
                    <span *ngIf="mobile.errors && (mobile.dirty || mobile.touched || f.submitted)" class="form-errors">*Enter Mobile Number </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="empNo" [(ngModel)]="staffData.empNo" value="" required #empno="ngModel">
                    <label class="fg-label">Employee Number</label>
                    <span *ngIf="empno.errors && (empno.dirty || empno.touched || f.submitted)" class="form-errors">*Enter Employee Number </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="email" [(ngModel)]="staffData.email" value="" required #email="ngModel">
                    <label class="fg-label">Email<span class="required-class">*</span></label>
                    <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted)" class="form-errors">*Enter Email </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="file" class="form-control" name="photo" [(ngModel)]="staffData.photo" value="">
                    <label class="fg-label">Photo</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <textarea class="form-control" name="address" [(ngModel)]="staffData.address"></textarea>
                    <label class="fg-label">Address</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="bttn-group">
              <button [routerLink]="['/admin/staff']" class="btn btn-link">Cancel</button>
              <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>