<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Booking <button [routerLink]="['/admin/addbooking']" class="btn btn-primary pull-right btn-lg">+
                Add Booking</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Contact Name</th>
                        <th>Phone</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Amount</th>
                        <th>Room</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookingList  | filter : searchText">
                        <td>{{booking.contactName}}</td>
                        <td>{{booking.bookingPhone}}</td>
                        <td>{{booking.startDate}}</td>
                        <td>{{booking.endDate}}</td>
                        <td>{{booking.amount}}</td>
                        <td>{{booking.roomNo}}</td>
                        <td>
                                <a class="action-link edit" routerLink="/admin/editbooking/{{booking.bookingId}}">
                                    </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>