<section>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-container">

                <mat-card>
                    <p class="h4 text-center">SIGN IN</p>
                    <mat-card-content>
                        <form (ngSubmit)="f.form.valid && login()" #f="ngForm" name="form" novalidate>
                                <div class="form-group">
                                        <label for="Username">Email 
                                        </label>
                                        <input type="email" class="form-control sm-form-control" name="username" [(ngModel)]="userData.userName" value="" required #userName="ngModel">
                                        <span *ngIf=" userName.errors && (userName.dirty || userName.touched || f.submitted)"  class="form-errors">*Enter the User Name.</span>
                                    </div>
                                    <div class="form-group">
                                            <label for="Password">Password
                                            </label>
                                            <input type="password" class="form-control sm-form-control" name="password"  [(ngModel)]="userData.password" value="" required #password="ngModel">
                                            <span *ngIf=" password.errors && (password.dirty || password.touched || f.submitted)"  class="form-errors">*Enter the Password.</span>
                                        </div>
                            <div class="form-group text-right">
                                    <button type="submit" class="btn btn-success  fa-primary-btn">Sign In</button><br>
                                   

                            </div>
                            <span *ngIf="error"  class="form-errors" style="color:red;font-weight:bold;">{{error}}</span>
                            <!-- <div class="form-group">
                                <a routerLink="/auth/forgot-password">Forgot Password?</a>
                            </div> -->
                            <!-- <div class="form-group">
                                Don't have an account?
                                <a routerLink="/auth/register">Register</a>
                            </div> -->
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>