<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Send Offers</h3>
        <div class="row">
            <h4 class="clearfix">Email</h4>
            <div class="col-sm-12">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group fg-float">
                            <div class="fg-line">
                                <ng-select [items]="templateList" bindLabel="name" bindValue="templateId"
                                    [(ngModel)]="offerData.email" name="email" required #email="ngModel">
                                </ng-select>
                                <!-- <label class="fg-label">Template<span class="required-class">*</span></label> -->
                                <!-- <span *ngIf="email.errors && (email.dirty || email.touched)" class="form-errors">*Select -->
                                <!-- Template </span> -->
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right btn-lg" (click)="sendmail()"> Send Mail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="clearfix">SMS</h4>
            <div class="col-sm-12">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group fg-float">
                            <div class="fg-line">
                                <textarea class="form-control" [(ngModel)]="offerData.sms" name="sms"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right btn-lg" (click)="sendsms()"> Send SMS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>