<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Menu <button [routerLink]="['/admin/addmenu']" class="btn btn-primary pull-right btn-lg">+
                Add Menu</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <!-- <th>Parent</th> -->
                        <th>Order</th>
                        <th>Status</th>
                        <th>Link</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let indmenu of menuList  | filter : searchText">
                        <td>{{indmenu.menuName}}</td>
                        <!-- <td>{{indmenu.idParent}}</td> -->
                        <td>{{indmenu.order}}</td>
                        <td>{{indmenu.status === '1'?'Active':'Inactive'}}</td>
                        <td>{{indmenu.link}}</td>
                        <td>
                            <a class="action-link edit" routerLink="/admin/editmenu/{{indmenu.id}}">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>