<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/room']">Room</a></li>
      <li class="active">Add / Edit Room</li>
    </ol>
    <h3 class="clearfix">Add / Edit Room</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addRoom()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">

                    <input type="text" class="form-control" name="roomNo" [(ngModel)]="roomData.roomNo" value=""
                      required #name="ngModel">
                    <label class="fg-label">Room Number
                      <span class="required-class">*</span></label>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter Room Number </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line  fg-toggled">
                      <ng-select [items]="floors" bindLabel="floorName" bindValue="floorId" [(ngModel)]="roomData.idFloor" name="idFloor" required  #floor="ngModel">
                    </ng-select>
                    <label class="fg-label">Floor<span class="required-class">*</span></label>
                    <span *ngIf="floor.errors && (floor.dirty || floor.touched || f.submitted)" class="form-errors">*Select Floor </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                      <ng-select [items]="types" bindLabel="roomTypeName" bindValue="roomTypeId" [(ngModel)]="roomData.idType" name="idType" required  #type="ngModel">
                        </ng-select>
                    <label class="fg-label">Type</label>
                    <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted)" class="form-errors">*Select Type </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="beds" [(ngModel)]="roomData.beds"
                      value="" required #beds="ngModel">
                    <label class="fg-label">Beds<span class="required-class">*</span></label>
                    <span *ngIf="beds.errors && (beds.dirty || beds.touched || f.submitted)" class="form-errors">*Enter beds</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="originalPrice" [(ngModel)]="roomData.originalPrice" value="">
                    <label class="fg-label">Original Price</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="text" class="form-control" name="sellingPrice" [(ngModel)]="roomData.sellingPrice"
                      value="">
                    <label class="fg-label">Selling Price</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                      <ng-select [items]="usages" bindLabel="name" bindValue="value" [(ngModel)]="roomData.usage" name="usage" required  #usage="ngModel">
                        </ng-select>
                    <label class="fg-label">Usage Type</label>
                    <span *ngIf="usage.errors && (usage.dirty || usage.touched || f.submitted)" class="form-errors">*Select Usage Type </span>
                  </div>
                </div>
              </div>
            </div>
           
              <div class="bttn-group">
                <button [routerLink]="['/admin/room']" class="btn btn-link">Cancel</button>
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
              </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>