<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/menu']">Menu</a></li>
      <li class="active">Add / Edit Menu</li>
    </ol>
    <h3 class="clearfix">Add / Edit Menu</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addMenu()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="Menu name" [(ngModel)]="menuData.menuName" value=""
                      required #name="ngModel">
                    <label class="fg-label">Menu Name<span class="required-class">*</span></label>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                      Name </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="number" class="form-control" name="Order" [(ngModel)]="menuData.order" value=""
                      required #order="ngModel">
                    <label class="fg-label">Order<span class="required-class">*</span></label>
                    <span *ngIf="order.errors && (order.dirty || order.touched || f.submitted)" class="form-errors">*Enter
                      Order </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="Link" [(ngModel)]="menuData.link" value="" required
                      #link="ngModel">
                    <label class="fg-label">Link<span class="required-class">*</span></label>
                    <span *ngIf="link.errors && (link.dirty || link.touched || f.submitted)" class="form-errors">*Enter
                      Link </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <label class="fg-label">Status</label>
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="menuData.status" [checked]="menuData.status === '1'"
                      [value]='1'> Active
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="menuData.status" [checked]="menuData.status === '0'"
                      [value]='0'> Inactive
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div class="bttn-group">
              <button [routerLink]="['/admin/menu']" class="btn btn-link">Cancel</button>
              <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>