<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/invoice']">Invoice</a></li>
      <li class="active">Add / Edit Invoice</li>
    </ol>
    <h3 class="clearfix">Add / Edit Invoice</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addInvoice()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line  fg-toggled">
                    <ng-select [items]="paymentList" bindLabel="paymentNumber" bindValue="paymentId" [(ngModel)]="invoiceData.idPayment"
                      name="idPayment" required #idPayment="ngModel">
                    </ng-select>
                    <label class="fg-label">Payment<span class="required-class">*</span></label>
                    <span *ngIf="idPayment.errors && (idPayment.dirty || idPayment.touched || f.submitted)" class="form-errors">*Select
                      Payment </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="amount" [(ngModel)]="invoiceData.amount" value=""
                      required #amount="ngModel">
                    <label class="fg-label">Amount
                      <span class="required-class">*</span></label>
                    <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted)" class="form-errors">*Amount </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="bttn-group">
              <button [routerLink]="['/admin/invoice']" class="btn btn-link">Cancel</button>
              <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>