<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Email Template <button [routerLink]="['/admin/addemailtemplate']" class="btn btn-primary pull-right btn-lg">+
                Add Template</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let email of emailtemplateList  | filter : searchText">
                        <td>{{email.name}}</td>
                        <td>{{email.description}}</td>
                        <td>
                            <a class="action-link edit" routerLink="/admin/editemailtemplate/{{email.templateId}}"></a>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>