<section class="col-sm-8 col-lg-9">
  <div class="main-container">

    <h3 class="clearfix">Menu List</h3>
    <div class="row">
      <div class="col-sm-12">
        <form>
          <div class="row">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-12" *ngFor="let item of menuList">
                  <input type="checkbox" name="budget" value="{{item.id}}">{{item.menuName}}
                </div><br>

              </div>
            </div>
          </div>
          <div class="bttn-group">
              <button [routerLink]="['/admin/role']" class="btn btn-link">Cancel</button>
              <button type="submit" (click)='addRolemenu()' class="btn btn-primary btn-lg">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  </section>