<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Invoice <button [routerLink]="['/admin/addinvoice']" class="btn btn-primary pull-right btn-lg">+
                Add Invoice</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Invoice Number</th>
                        <th>Amount</th>
                        <th>Balance</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoiceList  | filter : searchText">
                        <td>{{invoice.invoiceNumber}}</td>
                        <td>{{invoice.amount}}</td>
                        <td>{{invoice.balance}}</td>
                        <td>{{invoice.date}}</td>
                        <td>
                                <a class="action-link edit" routerLink="/admin/editinvoice/{{invoice.invoiceId}}">
                                    </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>