<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Hotel <button [routerLink]="['/admin/addhotel']" class="btn btn-primary pull-right btn-lg">+
                Add Hotel</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Landmark</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hotel of hotelList  | filter : searchText">
                        <td>{{hotel.hotelName}}</td>
                        <td>{{hotel.landmark}}</td>
                        <td>{{hotel.hotelMobile}}</td>
                        <td>{{hotel.addressOne}}</td>
                        <td>
                                <a class="action-link edit" routerLink="/admin/edithotel/{{hotel.hotelId}}">
                                    </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>