/*-->
CUSTOM FONTS
<--*/

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../fonts/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Light.woff') format('woff'),
         url('../fonts/SourceSansPro-Light.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('../fonts/SourceSansPro-Semibold.eot');
    src: url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),         
         url('../fonts/SourceSansPro-Semibold.woff') format('woff'),
         url('../fonts/SourceSansPro-Semibold.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../fonts/SourceSansPro-Bold.eot');
    src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Bold.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}



body{font-family: 'SourceSansPro-Regular'; font-size: 14px; color: #8d8d8d; background-color: #fff;}
ul{ list-style: none; margin: 0px; padding: 0px;}
a{ color: #2287de;}
h1 {
    font-family: 'SourceSansPro-Light';
}

.form-control {
    box-shadow: none;
    height: 45px;
    border: 1px solid #bfbfbf;
}
.btn-primary,
.main-nav > li > a.find-doctor,
.main-navbar .navbar-nav>li>a.button,
.specialties-links a:hover {
    background: #2287de;
    background: -moz-linear-gradient(-45deg, #2287de 0%, #00cfd1 100%);
    background: -webkit-linear-gradient(-45deg, #2287de 0%,#00cfd1 100%);
    background: linear-gradient(135deg, #2287de 0%,#00cfd1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2287de', endColorstr='#00cfd1',GradientType=1 );    
    color: #fff;
    transition: all 0.1s ease-out;    
}
.btn-primary,
.main-nav > li > a.find-doctor,
.main-navbar .navbar-nav>li>a.button {
    border-radius: 25px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.main-nav.main-nav > li > a.find-doctor:hover,
.main-navbar .navbar-nav>li>a.button:hover {
    color: #fff;
    background: #00cfd1;
    background: -moz-linear-gradient(-45deg, #00cfd1 0%, #2287de 100%);
    background: -webkit-linear-gradient(-45deg, #00cfd1 0%,#2287de 100%);
    background: linear-gradient(135deg, #00cfd1 0%,#2287de 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cfd1', endColorstr='#2287de',GradientType=1 );
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.radio label, .checkbox label {
    padding-left: 30px;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    opacity: 0;
}
.radio-inline, .checkbox-inline {
    position: relative;
    padding-left: 30px;
}
.checkbox input[type=checkbox] ~ .check-radio, .checkbox-inline input[type=checkbox] ~ .check-radio,
.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #bfbfbf;
    background: #fff;
    border-radius: 3px;
    left: 0px;
    transition: all 0.1s ease-out;
}

.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio {
    border-radius: 10px;
}

.checkbox input[type=checkbox]:checked ~ .check-radio, .checkbox-inline input[type=checkbox]:checked ~ .check-radio {
    background: url('../img/check-mark.svg') no-repeat center center #2287de;
    background-size: 12px;
    border-color: #2287de;
}
.radio input[type=radio]:checked ~ .check-radio, .radio-inline input[type=radio]:checked ~ .check-radio {
    background: url('../img/radio-mark.svg') no-repeat center center #fff;
    background-size: 12px;
    border-color: #2287de;
}

.dashboard-navbar,
.main-navbar {
    background-color: #fff;
    border-radius: 0px;
    border:0px none;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-bottom: 0px;   
}
.navbar-brand {
    background: url(../img/phr_logo.svg) no-repeat center center transparent;
    height: 40px;
    width: 180px;
    background-size: 180px;
    text-indent: -9999px;
    margin-left: 15px !important;
    margin-top: 5px;
}

.main-nav > li > a {
    font-size: 18px;
}
.main-nav.main-nav > li > a:hover,
.main-nav > li > a.active {
    color: #2287de;
}
.main-nav > li > a.dashboard {
    background: url(../img/dashboard.svg) no-repeat 0px 15px transparent;
    background-size: 20px;
}
.main-nav > li > a.dashboard.active {
    background-image: url(../img/dashboard_active.svg);
}
.main-nav > li > a.precaution {
    background: url(../img/precaution.svg) no-repeat 0px 17px transparent;
    background-size: 20px;
}
.main-nav > li > a.precaution.active {
    background-image: url(../img/precaution_active.svg);
}
.main-nav > li > a.medical-report {
    background: url(../img/medicalreport.svg) no-repeat 0px 8px transparent;
    background-size: 20px;
}
.main-nav > li > a.medical-report.active {
    background-image: url(../img/medicalreport_active.svg);
}
.main-nav > li > a.settings {
    background: url(../img/settings.svg) no-repeat 15px 15px transparent;
    background-size: 20px;
    border-radius: 25px; 
    padding-left: 30px   
}
.sidebar {
    color: #fff;
    padding: 30px;
}
.profile-block {
    position: relative;
    padding-left: 110px;
}
.profile-img-container {
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);    
}
.profile-img-container img {
    width: 85px;
}
.profile-block p {
    font-size: 16px;
}
.profile-block h3 {
    margin-top: 0px;
}
.sidebar .divider {
    border-color: rgba(255,255,255,0.1);
    margin-left: -30px;
    width: calc(100% + 60px);    
}
.patient-report .row {
    margin-left: -5px;
    margin-right: -5px;
}
.patient-report .row + .row {
    margin-top: 20px;
}
.patient-report .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.patient-report img {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 30px;
    height: 30px;
}
.patient-report p {
    text-transform: uppercase;
    font-family: 'SourceSansPro-Semibold';
    padding-left: 40px;
    line-height: 16px;
    color: rgba(255,255,255,0.5);
}
.patient-report p > span {
    text-transform: none;
    font-size: 16px;
    display: block;
    color: #fff;
}
.sidebar h4 {
    text-transform: uppercase;
    font-family: 'SourceSansPro-Semibold';
    color: rgba(255,255,255,0.5);
}
.sidebar .list {
    list-style: disc;
    padding-left: 20px;
    font-size: 16px;
}
.sidebar .list > li + li {
    padding-top: 10px;
}

.main-container {
    padding: 10px;
}
.card {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}
.graph-placeholder {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.graph-placeholder img {
    display: inline-block;
}

.main-container h3 {
    color: #333;
    font-family: 'SourceSansPro-Semibold';
    padding-top: 20px;
}
.theme-table .table {
    background-color: #fff;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}
.theme-table .table>tbody>tr>td {
    padding: 10px 20px;
}
.theme-table .table>tbody>tr>td h5 {
    margin-bottom: 0px;
    font-size: 16px;
    color: #333;
    font-family: 'SourceSansPro-Semibold';    
}
.theme-table .table>tbody>tr:nth-child(odd)>td {
    background-color: #f0f8ff;
}

.main-navbar {
    background-color: #f0f8ff;
    box-shadow: none;
}
.main-navbar .navbar-nav {
    font-size: 16px;        
}
.main-navbar .navbar-nav>li>a {
    color: #333;
}
.main-navbar .navbar-nav>li>a.button {
    min-width: 100px;
    text-align: center;
}
.banner-wrapper {
    background-color: #f0f8ff;
}
.banner-wrapper h1 {
    color: #2287de;
    font-family: 'SourceSansPro-Bold';
}
.search-container {
    background-color: #2287de;
    padding: 25px 25px 10px 25px;
}
.fg-float .form-control {
    border: 0px none;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    position: relative;
    z-index: 1;
    font-size: 16px;
    padding-left: 0px;
    padding-bottom: 0px;      
}
.fg-float .form-control:focus {
    box-shadow: none;
    border-bottom-width: 2px;
    border-color: #2287de;
}
.search-container .fg-float .form-control,
.search-container .fg-float .form-control:focus {
    border-color: rgba(255,255,255,0.3);
    color: #fff;
}
.search-container .fg-float .form-control:focus {
    border-color: rgba(255,255,255,1);
    color: #fff;    
}
.fg-float .fg-label {
    position: absolute;
    top: 15px;
    z-index: 0;
    font-weight: normal;
    font-size: 16px;
    transition: all 0.15s ease-out;
    pointer-events: none;
    white-space: nowrap;
    text-transform: uppercase;
}
.fg-toggled .fg-label {
    top: -5px;
    font-size: 12px;
}
.search-container .fg-float .fg-label {
    color: #fff;
}
.search-container .fg-toggled .fg-label {
    color: #a9c9ef;
}
.search-container option {
    color: #333;
}
.search-container .btn {
    background-color: #fff;
    color: #2287de;
    height: 45px;
    width: 100%;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
}
.specialties-links a{
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    border: 2px solid #f0f8ff;
    border-radius: 5px;
    margin-top: 30px;
    transition: all 0.1s ease-out; 
    background-color: #fff;
}
.specialties-links a span{
    padding: 20px 0px 20px 75px;
    display: block;    
}
.specialties-links a:hover {
    text-decoration: none;
}
.specialties-links a span.dentist {
    background: url(../img/dentist.svg) no-repeat 25px 18px transparent;
}
.specialties-links a:hover span.dentist {
    background: url(../img/dentist_active.svg) no-repeat 25px 18px transparent;
}
.specialties-links a span.cardiology {
    background: url(../img/cardiology.svg) no-repeat 25px 18px transparent;
}
.specialties-links a:hover span.cardiology {
    background: url(../img/cardiology_active.svg) no-repeat 25px 18px transparent;
}
.specialties-links a span.pediatrics {
    background: url(../img/pediatrics.svg) no-repeat 25px 18px transparent;
}
.specialties-links a:hover span.pediatrics {
    background: url(../img/pediatrics_active.svg) no-repeat 25px 18px transparent;
}
.specialties-links a span.urology {
    background: url(../img/urology.svg) no-repeat 25px 18px transparent;
}
.specialties-links a:hover span.urology {
    background: url(../img/urology_active.svg) no-repeat 25px 18px transparent;
}
.specialties-links a span.orthopedic {
    background: url(../img/orthopedic.svg) no-repeat 25px 18px transparent;
}
.specialties-links a:hover span.orthopedic {
    background: url(../img/orthopedic_active.svg) no-repeat 25px 18px transparent;
}
.specialties-links a span.gastroenterology {
    background: url(../img/gastroenterology.svg) no-repeat 25px 18px transparent;
}
.specialties-links a:hover span.gastroenterology {
    background: url(../img/gastroenterology_active.svg) no-repeat 25px 18px transparent;
}
.specialties-links a span.ophthalmology {
    background: url(../img/ophthalmology.svg) no-repeat 25px 20px transparent;
}
.specialties-links a:hover span.ophthalmology {
    background: url(../img/ophthalmology_active.svg) no-repeat 25px 20px transparent;
}
.specialties-links a span.view-more {
    background: url(../img/viewmore.svg) no-repeat 25px 26px transparent;
}
.specialties-links a:hover span.view-more {
    background: url(../img/viewmore_active.svg) no-repeat 25px 26px transparent;
}
.how-it-works .nav-tabs {
    text-align: center;
}
.how-it-works .nav-tabs li {
    float: none;
    display: inline-block;
}
.how-it-works .nav-tabs li a {
    text-transform: uppercase;
    color: #333;
    border-radius: 0px;
    font-size: 18px;
}
.how-it-works .nav-tabs li.active a {
    border: 0px none;
    border-bottom: 2px solid #2287de;
    color: #2287de;
}
.how-it-works .tab-pane {
    padding-top: 30px;
    padding-bottom: 30px;
}
.how-it-works .tab-pane h1 {
    color: #2287de;
    margin-bottom: 0px;
}
.how-it-works .tab-pane h3 {
    color: #333;
    margin-top: 10px;
}
.how-it-works .tab-pane p {
    padding-top: 20px;
}
.footer-wrapper {
    background-color: #f0f8ff;
    color: #fff;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #333;
}
.copy-text {
    padding-top: 30px;
    border-top: 1px solid #dcdcdc;
    margin-top: 30px;
    text-align: center;
}
.footer-links {
    font-size: 16px;
}
.footer-links li {
    margin-top: 10px;
}
.footer-links li a {
    color: #333;
}
.footer-links li a:hover {
    text-decoration: none;
    color: #2287de;
}
.sidebar-menu {
    margin-left: -20px;
    margin-right: -20px;    
}
.sidebar-menu li {
    float: left;
    width: 50%;    
    text-align: center;
    padding: 10px;
}
.sidebar-menu li > a{
    color: #fff;
    display: block;
    background: url(../img/admin_dashboard_white.svg) no-repeat center 15px transparent;
    min-height: 80px;
    padding-top: 50px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.15s ease-out;
    font-family: 'SourceSansPro-Semibold';
    background-size: 30px;
}
.sidebar-menu.sidebar-menu li > a:hover {
    background-color: rgba(255,255,255,0.15);
    text-decoration: none;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.25);
}
.sidebar-menu li.active > a {
    background: url(../img/admin_dashboard_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
    color: #2287de;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.25);
}
.sidebar-menu li.active > a:hover {
    background-color: #fff;
}
.sidebar-menu li > a.hospital {
    background: url(../img/hospital_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.hospital {
    background: url(../img/hospital_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.doctor {
    background: url(../img/doctor_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.doctor {
    background: url(../img/doctor_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.patient {
    background: url(../img/patient_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.patient {
    background: url(../img/patient_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.pharma {
    background: url(../img/pharma_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.pharma {
    background: url(../img/pharma_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.staff {
    background: url(../img/staff_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.staff {
    background: url(../img/staff_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.lab {
    background: url(../img/lab_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.lab {
    background: url(../img/lab_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.healthcard {
    background: url(../img/healthcard_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.healthcard {
    background: url(../img/healthcard_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.email {
    background: url(../img/email_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.email {
    background: url(../img/email_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.specialization {
    background: url(../img/specialization_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.specialization {
    background: url(../img/specialization_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.menu {
    background: url(../img/menu_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.menu {
    background: url(../img/menu_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.search {
    background: url(../img/search_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.search {
    background: url(../img/search_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.sidebar-menu li > a.roles {
    background: url(../img/staff_white.svg) no-repeat center 15px;
    background-size: 30px;
}
.sidebar-menu li.active > a.roles {
    background: url(../img/staff_blue.svg) no-repeat center 15px #fff;
    background-size: 30px;
}
.stats-block {    
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top:10px;
    margin-bottom:10px;    
    position: relative;
}
.stats-block img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    opacity: 0.05;
}
.stats-block h4 {
    text-transform: uppercase;
    margin-bottom:0px;
}
.stats-block h3 {
    margin-top:0px;
    padding-top:0px;
    font-size:40px;
    font-family: 'SourceSansPro-Light';
    color: #2287de;
}
.stats-block .updated {
    margin-left:-20px;
    margin-right:-20px;
    border-top: 1px solid #f5f5f5;
    margin-top: 20px;
    padding: 10px 20px 0px 20px;
}
.stats-block .updated p {
    margin-bottom:0px;
}
.stats-block .updated p + p {
    color:#333;
}
.v-align-top .table>tbody>tr>td {
    vertical-align: middle;
}
.theme-table .form-control {
    height: 35px;
    width: auto;
}
.theme-table .table>thead>tr>th {
    padding: 10px 20px;
    text-shadow: none;
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'SourceSansPro-Semibold';
}
.theme-table .table>tbody>tr>td {
    color: #333;
}
.main-container .breadcrumb {
  padding: 8px 0px;
}
.main-container .breadcrumb + h3 {
    padding-top: 0px;
}
.bttn-group {
    text-align: right;
}
.bttn-group .btn {
    min-width: 100px;
}
.action-link {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-indent: -9999px; 
    border: 1px solid transparent; 
    border-radius: 5px;  
    transition: all 0.25s ease-out;
}
.action-link + .action-link {
    margin-left: 10px;
}
.action-link:hover {
    border-color: #2287de;
}
.action-link.edit {
    background: url(../img/edit.svg) no-repeat center center transparent;
    background-size: 20px;
}
.action-link.edit:hover {
    background: url(../img/edit.svg) no-repeat center center #fff;
    background-size: 20px;
}
.action-link.delete {
    background: url(../img/delete.svg) no-repeat center center transparent;
    background-size: 15px;
}
.action-link.delete:hover {
    background: url(../img/delete.svg) no-repeat center center #fff;
    background-size: 15px;
}
.search-container.category-search {
    margin-bottom: 30px;
}
.category-container {
    border: 1px solid #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.category-header-profile {
    position: relative;
    padding: 10px 0px 10px 75px;
}
.category-header-profile img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 30px;
    border: 1px solid #f9f9f9;
    position: absolute;
    left: 0px;
    top: 0px;
}
.category-header-profile h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}
.black-text {
    color: #333;
}
.icon {
    padding-left: 20px;
}

.icon.email a {
    color: #8d8d8d;
}
.category-container .bttn-group {
    background-color: #f9f9f9;
    margin: 10px -20px -20px;
    padding: 10px 20px;
}
.category-container .bttn-group .btn {
    border-radius: 25px;
}
.info {
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 10px;
}

@media screen and (min-width: 1200px){
    .main-wrapper {
        background: #2287de;
        background: -moz-linear-gradient(left, #2287de 0%, #2287de 25%, #f6f6f6 25%, #f6f6f6 100%);
        background: -webkit-linear-gradient(left, #2287de 0%,#2287de 25%,#f6f6f6 25%,#f6f6f6 100%);
        background: linear-gradient(to right, #2287de 0%,#2287de 25%,#f6f6f6 25%,#f6f6f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2287de', endColorstr='#f6f6f6',GradientType=1 );        
    }
    .container{max-width: 1200px;}    
}

@media screen and (min-width: 992px){
     .dashboard-navbar .main-nav > li > a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-container {
        padding: 20px 25px 20px 25px;
    }    
}

@media screen and (min-width: 768px){
    .main-nav > li > a.settings {
        margin-left: 15px;
        text-indent: -9999px;
        width: 30px;
        background-position: 20px 15px;
    }
    .main-navbar .navbar-nav>li>a.active {
        font-family: 'SourceSansPro-Bold';
        color: #2287de;
        position: relative;
    }    
    .main-navbar .navbar-nav>li>a.active:before {
        position: absolute;
        background-color: #2287de;
        width: 100%;
        bottom: -10px;
        height: 2px;
        left: 0px;
        content: '';
        display: block;
    }
    .banner-wrapper {
        padding-top: 50px;
    }
    .banner-wrapper img {
        max-width: 500px;
        display: inline-block;
    }    
    .banner-wrapper h1 {
        padding-top: 100px;
    }
    .search-container {
        border-radius: 50px;
        position: relative;
        bottom: -50px;  
        padding-left: 40px;
    }
    .search-container.category-search {
        bottom: 0px;    
        margin-top: 20px;
    }
    .landing-title {
        padding-top: 50px;
    }
    .p-t-100 {
        padding-top: 100px;
    }
    .how-it-works .tab-pane img {
        max-width: 300px;
        display: inline-block;
        margin-top: 30px;
    }    
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .main-wrapper {
        background: #2287de;
        background: -moz-linear-gradient(left, #2287de 0%, #2287de 33%, #f6f6f6 33%, #f6f6f6 100%);
        background: -webkit-linear-gradient(left, #2287de 0%,#2287de 33%,#f6f6f6 33%,#f6f6f6 100%);
        background: linear-gradient(to right, #2287de 0%,#2287de 33%,#f6f6f6 33%,#f6f6f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2287de', endColorstr='#f6f6f6',GradientType=1 );        
    }   
    .main-navbar .navbar-nav {
        font-size: 14px;        
    }    
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .main-nav.main-nav > li > a {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;        
        background-image: none;
    }
    .main-nav.main-nav > li > a.active {
        background-image: none;
    }
    .main-nav.main-nav > li > a.find-doctor {
        background: #2287de;
    }
    .main-nav.main-nav > li > a.settings {
        background: url(../img/settings.svg) no-repeat 0px 10px transparent;
    }
    .theme-table {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;        
    }
    .sidebar {
        padding: 30px 10px;
    }
    .patient-report img {
        display: none;
    }
    .patient-report p {
        padding-left: 0px;
    }
    .how-it-works .tab-pane img {
        max-width: 100%;
    }
    .banner-wrapper h1 {
        padding-top: 50px;
    }
}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){
    .main-nav > li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-nav > li + li {
        border-top: 1px solid #ccc;
        margin-top: 10px;
    }
    .main-nav > li > a {
        padding: 15px 30px 10px 30px        
    }
    .main-nav > li > a.find-doctor {
        margin-top: 10px;
        text-align: center;
        padding: 15px 30px 15px 30px
    }
    .main-nav > li > a.settings {
        background-image: none;
        margin-top: 10px;
    }
    .sidebar {
        background-color: #2287de;
    }
    .main-container {
        background-color: #f6f6f6;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
    }
    .main-navbar .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #fff;
    }
    .main-navbar .navbar-nav li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-navbar .navbar-nav li + li {
        border-top: 1px solid #dcdcdc;
    }
    .main-navbar .navbar-nav>li>a.button {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .search-container {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 20px;
    }
    .specialties-links a {
        margin-top: 15px;
    }
}


/* NEW CSS STARTS */
.fg-float-select {
    position: relative;
}
.fg-float-select .fg-label {
    position: absolute;
    top: -5px;
    z-index: 0;
    font-weight: normal;
    font-size: 12px;
    transition: all 0.15s ease-out;
    pointer-events: none;
    white-space: nowrap;
    text-transform: uppercase;    
}

.fg-float-select .ng-input {
    padding-right: 50px;
}
.fg-float-select .ng-input input{
    border: 0px none;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    position: relative;
    z-index: 1;
    font-size: 16px;
    padding-left: 0px;
    padding-bottom: 0px;   
    height: 45px;
}
.ng-dropdown-panel {
    background: #fff;
    border: 1px solid #ccc;
    margin-top: -1px;    
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 3px 10px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: #2287de;
    color: #fff;
}

.patient-summary-row {
    border: 1px solid rgba(34,135,222,0.05);   
    margin-bottom: 20px;
}
.patient-summary-head {
    background-color: rgba(34,135,222,0.02);
    padding:10px 20px;
    color: rgb(34,135,222);
    font-family: 'SourceSansPro-Semibold';
}
.patient-summary-head h4 span {
    font-family: 'SourceSansPro-Regular';
    color: #333;
}
.patient-summary-container {
    padding: 10px 20px;
}
.bold-title {
    font-family: 'SourceSansPro-Semibold';
    margin-bottom: 0px;
    color: #333;
    text-transform: uppercase;
}
.disc-list {
    list-style: disc outside;
    padding-left: 20px;
}
strong {
    font-weight: normal;
    font-family: 'SourceSansPro-Semibold';
}
.prescription-list p:first-child {
    margin-bottom: 0px;
}
.prescription-list {
    padding-top: 10px;    
}
.prescription-list + .prescription-list{    
    border-top: 1px solid rgba(34,135,222,0.05); 
}
.inline-link {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-indent: -9999px;     
}
.inline-link.edit {
    background: url(../img/edit.svg) no-repeat center center transparent;
    background-size: 15px;    
}
.inline-link.delete {
    background: url(../img/delete.svg) no-repeat center center transparent;
    background-size: 12px;    
}
.radio-inline.radio-inline, .checkbox-inline.checkbox-inline {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.phr-logo img {
    width: 300px;
}
.login-wrapper h1 {
    color: #2287de;
    font-family: 'SourceSansPro-Bold';   
    padding-bottom: 10px;
}
.fg-float {
    position: relative;
}
.login-links {
    margin-top: 30px;
}
.aboutus h1 {
    color: #2287de;
}
.aboutus img {
    margin-top: 50px;
    display: inline-block;
}
.about-blue-wrapper {
    background-color: #2287de;
    padding-top: 20px;
    padding-bottom: 50px;
}

.about-callout {
    color: #fff;
    margin-top: 30px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 20px 10px;
    border-radius: 5px;
}
.newsletter.newsletter {
    bottom: 0px;
    text-align: left;
    margin-top: 20px;
}
.ng-select.ng-select .ng-select-container .ng-value-container .ng-input {
    padding-right:0px;
}
.ng-select.ng-select .ng-select-container .ng-value-container .ng-input>input {
    border-bottom: 1px solid #ccc;
    height: 42px;
}
.ng-select .ng-select-container .ng-value-container {
    min-height:45px;
}
.ng-select.ng-select .ng-select-container .ng-value {
    padding-top: 10px;
    font-size: 16px;
    color: #555;
}
@media screen and (min-width: 992px){
    .patient-summary-head h4 span {
         float: right;   
    }    
}

@media screen and (max-width:991px){
    .patient-summary-head h4 span {
         padding-top: 10px;
         display: block; 
    }        
}

@media screen and (min-width:768px){
    .login-wrapper {
    background: #00bcd3;
    background: -moz-linear-gradient(left, #f0f8ff 0%, #f0f8ff 50%, #ffffff 50%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #f0f8ff 0%,#f0f8ff 50%,#ffffff 50%,#ffffff 100%);
    background: linear-gradient(to right, #f0f8ff 0%,#f0f8ff 50%,#ffffff 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#ffffff',GradientType=1 );
        width: 100%;
        height: 100vh;
        padding-top: 100px;
    } 
    .login-block {
        width: 350px;
        margin: 0 auto;
    }      
    .phr-logo {
        margin-top: 100px;
        margin-bottom: 30px;
    }   
    .aboutus {
        padding-top: 50px;
        padding-bottom: 50px;
    }    
}

@media screen and (max-width:767px){
    .login-mobile {
        background-color: #f0f8ff;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
    }    
    .phr-logo img{
        width: 250px;
    }
    .login-wrapper h1 {
        text-align: center;
        font-size: 24px;
    }
}

.form-errors, .required-class {
    color: red;
    font-weight: bold;
}