<app-header></app-header>
<section class="ps-main-section">
    <div class="ps-left-navbar">
        <ul class="ps-left-navbar-menu" style="color: white;">

            <li class="ps-left-navbar-item">
                <a [routerLink]="['/doctor/patient']">Patients </a>
            </li>
            <li class="ps-left-navbar-item">
                    <a [routerLink]="['/doctor/lab']">Lab </a>
                </li>
                <li class="ps-left-navbar-item">
                    <a [routerLink]="['/doctor/summary']">Summary </a>
                </li>
</ul>
</div>
</section>
<div *ngIf="patientId; then content;"></div>
    <ng-template #content>
    <div class="ps-right-navbar" >
            
            <patient-details ></patient-details>
        </div>
    </ng-template> 
<router-outlet></router-outlet>
<app-footer></app-footer>