<section>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="form-container">
                <mat-card>
                    <h1>404</h1>
                    <h3>SORRY</h3>
                    <p>The page you're looking for was not found.</p>
                    <button (click)="goBack()" mat-raised-button color="primary">GO BACK</button>
                </mat-card>
            </div>
        </div>
    </div>
</section>