<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/booking']">Booking</a></li>
      <li class="active">Add / Edit Booking</li>
    </ol>
    <h3 class="clearfix">Add / Edit Booking</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addBooking()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">

                    <input type="text" class="form-control" name="contactName" [(ngModel)]="bookingData.contactName"
                      value="" required #name="ngModel">
                    <label class="fg-label">Contact Name
                      <span class="required-class">*</span></label>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                      Contact Name </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line  fg-toggled">
                    <ng-select [items]="rooms" bindLabel="roomNo" bindValue="roomId" [(ngModel)]="bookingData.idRoom"
                      name="idRoom" required #room="ngModel" (change)="getAmount()">
                    </ng-select>
                    <label class="fg-label">Room<span class="required-class">*</span></label>
                    <span *ngIf="room.errors && (room.dirty || room.touched || f.submitted)" class="form-errors">*Select
                      Room </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="bookingPhone" [(ngModel)]="bookingData.bookingPhone"
                      value="" required #phone="ngModel">
                    <label class="fg-label">Phone<span class="required-class">*</span></label>
                    <span *ngIf="phone.errors && (phone.dirty || phone.touched || f.submitted)"
                      class="form-errors">*Enter Phone Number</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="datetime-local" class="form-control" name="startDate"
                      [(ngModel)]="bookingData.startDate" value="" required #startdate="ngModel">
                    <label class="fg-label">Start Date<span class="required-class">*</span></label>
                    <span *ngIf="startdate.errors && (startdate.dirty || startdate.touched || f.submitted)"
                      class="form-errors">*Enter Start Date</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="datetime-local" class="form-control" name="endDate" [(ngModel)]="bookingData.endDate"
                      value="" required #enddate="ngModel">
                    <label class="fg-label">End Date<span class="required-class">*</span></label>
                    <span *ngIf="enddate.errors && (enddate.dirty || enddate.touched || f.submitted)"
                      class="form-errors">*Enter End Date</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="text" class="form-control" name="amount" [(ngModel)]="bookingData.amount" value=""
                      required #amount="ngModel">
                    <label class="fg-label">Amount</label>
                    <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted)"
                      class="form-errors">*Enter Amount</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="file" class="form-control" name="idProof" [(ngModel)]="bookingData.idProof" value="">
                    <label class="fg-label">ID Proof</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="file" class="form-control" name="photo" [(ngModel)]="bookingData.photo" value="">
                    <label class="fg-label">Photo</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="bttn-group">
              <button [routerLink]="['/admin/booking']" class="btn btn-link">Cancel</button>
              <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>