<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Room <button [routerLink]="['/admin/addroom']" class="btn btn-primary pull-right btn-lg">+
                Add Room</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Floor</th>
                        <th>Beds</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of roomList  | filter : searchText">
                        <td>{{room.roomNo}}</td>
                        <td>{{room.floorName}}</td>
                        <td>{{room.beds}}</td>
                        <td>{{room.roomTypeName}}</td>
                        <td>{{room.originalPrice}}</td>
                        <td>
                                <a class="action-link edit" routerLink="/admin/editroom/{{room.roomId}}">
                                    </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>