<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/emailtemplate']">Email Template</a></li>
      <li class="active">Add / Edit Email Template</li>
    </ol>
    <h3 class="clearfix">Add / Edit Email Template</h3>
    <div class="card">

      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addEmailTemplate()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="emailName" [(ngModel)]="emailtemplateData.name"
                      value="" required #name="ngModel">
                    <label class="fg-label">Name<span class="required-class">*</span></label>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                      Name </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group fg-float">
                    <div class="fg-line">
                      <input type="text" class="form-control" name="emailSubject" [(ngModel)]="emailtemplateData.subject"
                        value="" required #subject="ngModel">
                      <label class="fg-label">Subject<span class="required-class">*</span></label>
                      <span *ngIf="subject.errors && (subject.dirty || subject.touched || f.submitted)" class="form-errors">*Enter
                        Subject </span>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <label class="fg-label">Description<span class="required-class">*</span></label><br><br>
                    <ckeditor name="description" [(ngModel)]="emailtemplateData.description"
                      [config]="{uiColor: '#3385ff'}" [readonly]="false"
                      (fileUploadRequest)="onFileUploadRequest($event)"
                      (fileUploadResponse)="onFileUploadResponse($event)" debounce="500">
                    </ckeditor>
                    <!-- <span *ngIf="description.errors && (description.dirty || description.touched || f.submitted)" class="form-errors">*Enter Description </span> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="bttn-group">
              <button [routerLink]="['/admin/emailtemplate']" class="btn btn-link">Cancel</button>
              <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</section>