<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Payment <button [routerLink]="['/admin/addpayment']" class="btn btn-primary pull-right btn-lg">+
                Add Payment</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Payment Number</th>
                        <th>Invoice Number</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <!-- <th>Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payment of paymentList  | filter : searchText">
                        <td>{{payment.paymentNumber}}</td>
                        <td>{{payment.invoiceNumber}}</td>
                        <td>{{payment.amount}}</td>
                        <td>{{payment.date}}</td>
                        <!-- <td>
                                <a class="action-link edit" routerLink="/admin/editpayment/{{payment.paymentId}}">
                                    </a>

                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>