<section class="col-sm-8 col-lg-9">
    <div class="main-container">
        <ol class="breadcrumb">
            <li><a [routerLink]="['/admin/role']">Role</a></li>
            <li class="active">Add / Edit Role</li>
        </ol>
        <h3 class="clearfix">Add / Edit Role</h3>
        <div class="card">
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addRole()" #f="ngForm" name="form">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group fg-float">
                                    <div class="fg-line">

                                        <input type="text" maxlength="50" class="form-control" name="rolename"
                                            [(ngModel)]="roleData.roleName" value="" required #role="ngModel">
                                        <label class="fg-label">Role Name<span class="required-class">*</span></label>
                                        <span *ngIf="role.errors && (role.dirty || role.touched || f.submitted)" class="form-errors">*Enter
                                            Name </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group fg-float">
                                    <div class="fg-line fg-toggled">
                                        <label class="fg-label">Status</label>
                                        <br>
                                        <input type="radio" class="check-radio" name="Status" [(ngModel)]="roleData.status"
                                            [checked]="roleData.status === '1'" [value]="1"> Active
                                        <br>
                                        <input type="radio" name="Status" class="check-radio" [(ngModel)]="roleData.status"
                                            [checked]="roleData.status === '0'" [value]="0"> Inactive
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bttn-group">
                            <button [routerLink]="['/admin/role']" class="btn btn-link">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-lg">Save</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>