<app-header></app-header>
<div class="container-fluid main-wrapper">
        <div class="row">
          <aside class="col-sm-4 col-lg-3 sidebar">        
              <ul class="sidebar-menu clearfix">
                    <li *ngFor="let menu of menuList" class="{{menu.active}}">
                            <a  routerLink='{{menu.link}}' class="{{menu.class}}" (click)="makeActive(menu.menuName)">{{menu.menuName}}</a>
                          </li>  
              </ul>      
          </aside>
          
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>