<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Staff <button [routerLink]="['/admin/addstaff']" class="btn btn-primary pull-right btn-lg">+
                Add Staff</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Employee Number</th>
                        <th>Designation</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let staff of staffList  | filter : searchText">
                        <td>{{staff.name}}</td>
                        <td>{{staff.empNo}}</td>
                        <td>{{staff.designation}}</td>
                        <td>{{staff.mobile}}</td>
                        <td>{{staff.email}}</td>
                        <td>
                                <a class="action-link edit" routerLink="/admin/editstaff/{{staff.staffId}}">
                                    </a>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>