<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Role <button [routerLink]="['/admin/addrole']" class="btn btn-primary pull-right btn-lg">+
                Add Role</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Status </th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let indrole of roleList | filter : searchText ">
                        <td>
                            <a routerLink="/admin/rolemenu/{{indrole.id}}">
                                {{indrole.roleName}}
                            </a>
                        </td>
                        <td>{{indrole.status === 1?'Active':'Inactive'}}</td>
                        <td>
                            <a class="action-link edit" routerLink="/admin/editrole/{{indrole.id}}">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>