<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Cleaning <button [routerLink]="['/admin/addcleaning']" class="btn btn-primary pull-right btn-lg">+
                Add Cleaning</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Room</th>
                        <th>Staff</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cleaning of cleaningList  | filter : searchText">
                        <td>{{cleaning.roomNo}}</td>
                        <td>{{cleaning.name}}</td>
                        <td>{{cleaning.date}}</td>
                        <td>{{cleaning.time}}</td>
                        <td>
                                <a class="action-link edit" routerLink="/admin/editcleaning/{{cleaning.cleaningId}}">
                                    </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>