<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/roomtype']">Room Type</a></li>
      <li class="active">Add / Edit Room Type</li>
    </ol>
    <h3 class="clearfix">Add / Edit Room Type</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addRoomType()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">

                    <input type="text" class="form-control" name="roomtypeName" [(ngModel)]="roomtypeData.roomTypeName"
                      value="" required #name="ngModel">
                    <label class="fg-label">Name<span class="required-class">*</span></label>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                      Room Type </span>
                  </div>
                </div>
              </div>
              <div class="bttn-group">
                <button [routerLink]="['/admin/roomtype']" class="btn btn-link">Cancel</button>
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>