<section class="col-sm-8 col-lg-9">
    <div class="main-container">

        <h3 class="clearfix">Room Type <button [routerLink]="['/admin/addroomtype']" class="btn btn-primary pull-right btn-lg">+
                Add Room Type</button></h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="form-control" [(ngModel)]="searchText">
                        <label class="fg-label">Search for...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive theme-table v-align-top">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <!-- <th>Status</th> -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let roomtype of roomtypeList  | filter : searchText">
                        <td>{{roomtype.roomTypeName}}</td>
                        <!-- <td>{{roomtype.roomtypeStatus == true ? 'Active':'Inactive'}}</td> -->
                        <td>
                            <a  class="action-link edit" routerLink="/admin/editroomtype/{{roomtype.roomTypeId}}">
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>