<section>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-container">
                <mat-card>
                    <p class="h4 text-center">RESET PASSWORD</p>
                    <mat-card-content>
                        <form [formGroup]="forgotPasswordForm">
                            <div class="form-group">
                                <mat-form-field>
                                    <input type="text" placeholder="Email" formControlName="email" id="email" matInput>
                                </mat-form-field>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" color="primary" mat-raised-button>SEND PASSWORD RESET EMAIL</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>