<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/payment']">Payment</a></li>
      <li class="active">Add / Edit Payment</li>
    </ol>
    <h3 class="clearfix">Add / Edit Payment</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addPayment()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">

                    <input type="text" class="form-control" name="paymentNumber" [(ngModel)]="paymentData.paymentNumber" value=""
                      required #number="ngModel">
                    <label class="fg-label">Payment Number
                      <span class="required-class">*</span></label>
                    <span *ngIf="number.errors && (number.dirty || number.touched || f.submitted)" class="form-errors">*Enter Payment Number </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line  fg-toggled">
                      <ng-select [items]="invoices" bindLabel="invoiceNumber" bindValue="invoiceId" [(ngModel)]="paymentData.idInvoice" name="idInvoice" required  #invoice="ngModel" (change)="getInvoiceDetails()">
                    </ng-select>
                    <label class="fg-label">Invoice<span class="required-class">*</span></label>
                    <span *ngIf="invoice.errors && (invoice.dirty || invoice.touched || f.submitted)" class="form-errors">*Select Invoice </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group fg-float">
                      <div class="fg-line">
                        <input type="text" class="form-control" name="amount" [(ngModel)]="paymentData.amount"
                          value="" required #amount="ngModel" (blur)="checkBalance()">
                        <label class="fg-label">Amount<span class="required-class">*</span></label>
                        <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted)" class="form-errors">*Enter Amount</span>
                      </div>
                    </div>
                  </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                      <ng-select [items]="types" bindLabel="name" bindValue="name" [(ngModel)]="paymentData.type" name="type" required  #type="ngModel">
                        </ng-select>
                        <label class="fg-label">Payment Type<span class="required-class">*</span></label>
                        <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted)" class="form-errors">*Select Payment Type </span>
                     
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group fg-float">
                    <div class="fg-line">
                      <input type="text" class="form-control" name="referenceNumber" [(ngModel)]="paymentData.referenceNumber"
                        value="" required #referenceNumber="ngModel">
                      <label class="fg-label">Reference Number<span class="required-class">*</span></label>
                      <span *ngIf="referenceNumber.errors && (referenceNumber.dirty || referenceNumber.touched || f.submitted)" class="form-errors">*Enter Reference Number</span>
                    </div>
                  </div>
                </div>
          </div>
           
              <div class="bttn-group">
                <button [routerLink]="['/admin/payment']" class="btn btn-link">Cancel</button>
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
              </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>