<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/hotel']">Hotel</a></li>
      <li class="active">Add / Edit Hotel</li>
    </ol>
    <h3 class="clearfix">Add / Edit Hotel</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addHotel()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">

                    <input type="text" class="form-control" name="hotelName" [(ngModel)]="hotelData.hotelName" value=""
                      required #name="ngModel">
                    <label class="fg-label">Name<span class="required-class">*</span></label>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter  Name </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="addressOne" [(ngModel)]="hotelData.addressOne"
                      value="" required #address="ngModel">
                    <label class="fg-label">Address1<span class="required-class">*</span></label>
                    <span *ngIf="address.errors && (address.dirty || address.touched || f.submitted)" class="form-errors">*Enter Address </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="addressTwo" [(ngModel)]="hotelData.addressTwo"
                      value="">
                    <label class="fg-label">Address2</label>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter  Name </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="hotelMobile" [(ngModel)]="hotelData.hotelMobile"
                      value="" required #mobile="ngModel">
                    <label class="fg-label">Mobile<span class="required-class">*</span></label>
                    <span *ngIf="mobile.errors && (mobile.dirty || mobile.touched || f.submitted)" class="form-errors">*Enter Mobile Number </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="hotelPhone" [(ngModel)]="hotelData.hotelPhone" value="">
                    <label class="fg-label">Phone</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="text" class="form-control" name="hotelLandmark" [(ngModel)]="hotelData.landmark"
                      value="">
                    <label class="fg-label">Landmark</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="contactPerson" [(ngModel)]="hotelData.contactPerson" value="">
                    <label class="fg-label">Contact Person</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="text" class="form-control" name="city" [(ngModel)]="hotelData.city"
                      value="">
                    <label class="fg-label">City</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-sm-12">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="file" name="photo" [(ngModel)]="hotelData.photo">
                    <label class="fg-label">Photo</label>

                  </div>
                </div>
                </div>

              </div>
              <div class="row">
               <h3>Amenities</h3> 
               <div class="col-sm-2">
                <div class="form-group fg-float">
                  <div class="fg-line  radio">
                    <label class="checkbox-inline">
                      <input type="checkbox" class="check-radio" name="ac" [(ngModel)]="hotelData.ac"
                        value="1" [checked]="hotelData.ac === 1"><span class="check-radio"></span>
                      AC
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group fg-float">
                  <div class="fg-line  radio">
                    <label class="checkbox-inline">
                      <input type="checkbox" class="check-radio" name="parking" [(ngModel)]="hotelData.parking"
                        value="1" [checked]="hotelData.ac === 1"><span class="check-radio"></span>
                      Parking
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group fg-float">
                  <div class="fg-line  radio">
                    <label class="checkbox-inline">
                      <input type="checkbox" class="check-radio" name="doctor" [(ngModel)]="hotelData.doctor"
                        value="1" [checked]="hotelData.ac === 1"><span class="check-radio"></span>
                      Doctor
                    </label>
                  </div>
                </div>
              </div>
  
                </div>
              <div class="bttn-group">
                <button [routerLink]="['/admin/hotel']" class="btn btn-link">Cancel</button>
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
              </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>