<section class="section feature-section">
    <h1>FINANTIAL INFORMATION MANAGEMENT SYSTEM</h1>
        <p class="section-description">
           
        </p>

        <div class="row">
            <!-- <div class="col-lg-5">
                <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0 animated bounce" />
            </div> -->
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
            </div>
        </div>
</section>