/*-->
CUSTOM FONTS
<--*/


body{font-size: 14px; color: #484646;font-family: 'Arial';
    /* font-family: 'opensansregular'; */
}
a,a:hover,a:focus {text-decoration: none;color:#428bca;}
.btn {display: inline-block; padding: 8px 20px;font-weight: 600;font-size: 16px; }
.ps-action-btn {display:inline-block;padding:4px;text-align: center;border-width:1px;border-style:solid;width:50px;
height:32px;font-size:18px;line-height: 24px;margin-right:10px;border-radius: 6px;}
hr{margin:10px 0;}
.mar-t-0 {margin-top:0px;}
.mar-t-10 {margin-top:10px;}
.form-control {
    border-radius: 0;
    height:40px;    
    border-color: #b7b3b3;
    max-width:420px;
}
textarea.form-control {
    max-width:100%;
}
label {
    text-transform: uppercase;
    font-size: 12px;
}
.form-group {
    margin-bottom: 25px;      
    min-width: 270px;
}
.nh-btn-primary {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    background: #ec5e26;
    min-width: 140px;
    border:none;
}
.nh-btn-primary:hover,.nh-btn-primary:focus {
    opacity: 0.8;
    color: #fff !important;
}
.nh-btn-secondary {
    color: #282c3f;
    text-transform: uppercase;
    font-size: 13px;   
    min-width: 140px;
    background: transparent;
    border-color: #282c3f;
}
.nh-btn-secondary:hover,.nh-btn-secondary:focus {
     background: #282c3f;
     color:#fff;  
     border-color:#282c3f;   
}
.input-group-btn .btn {
    border-radius: 0;
    background: #3e4048;
    color:#fff;
    border-color: #3e4048;
}
.nh-btn-group {
    display: flex;
    width:120px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nh-btn-group .btn {
    width:54px;
    padding:7px 15px;
    border-radius: 10px;
    display:flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.nh-btn-edit {   
    background: transparent;
   border:1px solid #ec5e26;   
   color: #ec5e26 !important;
}
.nh-btn-edit:hover,.nh-btn-edit:focus {
    opacity: 0.7;
    background: #ec5e26;
    color:#fff;
}
.nh-btn-remove {
   background:transparent;
   border:1px solid #3e4048;
   color: #3e4048;
}
.nh-btn-remove:hover,.nh-btn-remove:focus {
    background: #3e4048;
    color:#fff;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th,
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 7px 12px;   
    vertical-align: middle;    
    text-align: center;
}
.actions-col {
    text-align: center;
}
.food-name-col {
    width:40%;
    text-align: left !important;
}

/* Header css starts here */

header { position: fixed;top: 0;left: 0;right: 0; width: 100%;z-index: 1999;}
.navbar {margin-bottom: 0;padding: 12px 0;border-radius: 0;background: #ec5e26;border:none;}
.navbar-brand {height: auto; padding: 0 15px;}
.navbar-brand img {max-width: 60px;}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>li.dropdown>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
}
.dropdown-menu>li>a {font-size:16px;padding:2px 20px;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {background: rgba(215, 215, 215,1);}       

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {right: 15px;}
}

/* Left navbar css starts here */

.ps-left-navbar {
    width: 220px; 
    padding: 0;
    background: #3e4048;    
    height: calc(100vh - 78px);
    position: fixed;
    top: 74px;
    left: 0;
}
.ps-left-navbar-menu {padding: 0;}
.ps-left-navbar-item {
    list-style: none; 
    display: block;
}
.ps-left-navbar-item a {
    position:relative;
    font-size: 18px;
    color: #fff;
    padding:15px 18px;
    display: block;
    line-height: 18px;
    border-bottom: 1px solid #676977;
    text-decoration: none;
    /*background:rgba(72, 196, 121,1);*/
    background:#3e4048;
}
.ps-left-navbar-item a:hover,
.ps-left-navbar-item a:focus,
.ps-left-navbar-item a.active,
.ps-left-navbar-item a.active:hover,
.ps-left-navbar-item a.active:focus {
    text-decoration: none;
    background: rgba(72, 196, 121,1);
    background: #282c3f;
    border-left:4px solid #fff;
    transition:all 0.25s;
}
ul.dropdown-list {
    height: calc(100vh - 372px);
    overflow-y: auto;
    padding:0;
    margin: 0;
    list-style: none;
}
.dropdown-list li {display: block;}
.dropdown-list li a {display: block;font-size: 14px;color: #fff;padding:8px 18px 8px 30px;
    line-height: 16px;}
#dropdown-list-wrapper {display: none;}
.dropdown-list-menu {cursor: pointer;}    
span.menuvalue {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    margin: 0 8px;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    color: rgba(65,141,179,1);
    background: #fff;
    position: absolute;
    top: 6px;
    right: 35px;
}

.dropdown-list-menu .fa {line-height: 20px;transform: rotate(90deg);transition: transform 0.5s;}
.dropdown-list-menu.opened .fa {line-height: 20px;transform: rotate(-90deg);transition: transform 0.5s;}


/* *  Custome scrollbar css  */

.dropdown-list::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
} 
.dropdown-list::-webkit-scrollbar  {
     width: 12px;
     background-color: #F5F5F5;
} 
.dropdown-list::-webkit-scrollbar-thumb  {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #555;
}
 

/* Dashboard page css starts here */

.ps-main-section {margin-top:74px;}
.ps-dashboard-sec {padding:0px;}
.ps-dashboard-block {
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin: 30px auto;
    display: flex;
    padding: 10px;
    box-shadow: 1px 0px 8px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 225px;
}
.ps-dashboard-block h1{font-size:16px;margin:0;line-height: 24px;color:#000;}
.ps-dashboard-block p {font-size:21px;color:#000;font-weight: bold;line-height: 28px;margin:0;}
.ps-right-section {width: calc(100% - 220px);margin-left: 220px;padding: 20px 10px;}

h1.ad-page-title {
    margin: 0 0 20px;
    font-size: 26px;
}
.ad-subhead-block {
    position: relative;
    text-align: center;
    margin:25px 0;
}
.ad-subhead-block:after {
    content: "";
    position: absolute;
    top:10px;
    left:0;
    right: 0;
    width:100%;
    border-bottom: 1px dotted #d3d3d3;
    z-index: -1;
}
.ad-subhead {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
    margin:0 auto;
    background: #fff;
    padding:0 12px;
}

.dashboard-icons {
    margin-bottom: 20px;
}
.dashboard-icons img {
    max-width: 100px;
}

.table-top-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.table-top-wrapper .input-group {
    max-width:300px;
}
.switch { 
    position: relative;
    display: inline-block;
    width: 60px;
    height: 12px;
    margin: 0 10px 0 0;
    border-radius: 6px;
   /* border: 1px solid rgba(0,0,0,0.2);*/
}  
.switch input {display:none;}  
.slider {position: absolute; cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;border-radius: 5px; background-color: rgba(0,0,0,0.12);
    -webkit-transition: .4s;transition: .4s; }
.slider:before {
    position: absolute;
    content: "";
    font-size: 0px;
    line-height: 28px;
    border-radius: 100%;
    text-align: center;
    color: #2196F3;
    height: 28px;
    width: 28px;
    left: 2px;
    bottom: -7px;
    background-color: rgb(189,189,189);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 4px 12px #fff;
}    
input:checked + .slider {background-color: #ec5e26; }
input:checked + .slider:before {background-color: #ec5e26; }
input:focus + .slider {box-shadow: 0 0 1px #ec5e26; }  
input:checked + .slider:before {content: "";-webkit-transform: translateX(28px);-ms-transform: translateX(28px);
transform: translateX(28px);  }
