@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway, sans-serif !important;
}

a {
    text-decoration: none !important;
}

.form-container {
    padding:10px;
}
.mat-form-field {
    width: 100% !important;
}