<section class="col-sm-8 col-lg-9">
  <div class="main-container">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/admin/cleaning']">Cleaning</a></li>
      <li class="active">Add / Edit Cleaning</li>
    </ol>
    <h3 class="clearfix">Add / Edit Cleaning</h3>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addCleaning()" #f="ngForm" name="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line  fg-toggled">
                      <ng-select [items]="rooms" bindLabel="roomNo" bindValue="roomId" [(ngModel)]="cleaningData.idRoom" name="idRoom" required  #room="ngModel">
                    </ng-select>
                    <label class="fg-label">Room<span class="required-class">*</span></label>
                    <span *ngIf="room.errors && (room.dirty || room.touched || f.submitted)" class="form-errors">*Select Room </span>
                  </div>
                </div>
              </div>
            <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                      <ng-select [items]="staffList" bindLabel="name" bindValue="staffId" [(ngModel)]="cleaningData.idStaff" name="idStaff" required  #staff="ngModel">
                        </ng-select>
                    <label class="fg-label">Staff</label>
                    <span *ngIf="staff.errors && (staff.dirty || staff.touched || f.submitted)" class="form-errors">*Select Staff </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line fg-toggled">
                    <input type="date" class="form-control" name="date" [(ngModel)]="cleaningData.date" value="" required  #date="ngModel">
                    <label class="fg-label">Date<span class="required-class">*</span></label>
                    <span *ngIf="date.errors && (date.dirty || date.touched || f.submitted)" class="form-errors">*Select Date </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fg-float">
                  <div class="fg-line">
                    <input type="text" class="form-control" name="time" [(ngModel)]="cleaningData.time"
                      value="" required  #time="ngModel">
                    <label class="fg-label">Time<span class="required-class">*</span></label>
                    <span *ngIf="time.errors && (time.dirty || time.touched || f.submitted)" class="form-errors">*Select Time </span>
                  </div>
                </div>
              </div>
            </div>
           
              <div class="bttn-group">
                <button [routerLink]="['/admin/cleaning']" class="btn btn-link">Cancel</button>
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
              </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>